* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000; /* Optional: To make sure text and icons are visible */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: rgba(5, 5, 5, 0.5); /* Adjusted for better visibility */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
}

#container-countdown {
    font-size: 100px;
    color: white;
}

.pause i {
    font-size: 50px;
    padding: 10px 50px;
    cursor: pointer;
    color: white;
}

#home {
    font-size: 30px;
    margin-top: 20px;
    color: white;
}

#myVideo {
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -10;
}
